*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(images/wp2232887.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    perspective: 600px;
}

header
{
    background-color:#2b1205;
    color: white;
    font-family:great vibes;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    height: 80px;
    padding-top: 10px;    
}

.since
{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family:great vibes;
    font-size: 25px;
    font-weight: 300;
    word-spacing: 5px;
}

nav
{
    background-color: beige;
    color: #401b01;
    height: auto;
    margin: auto;
    font-size: 20px;
    
    
}

nav ul
{
    list-style: none;
    padding: 5px;
    text-align: center
}

nav ul li
{
    display: inline-block;
    margin-top: 5px;
    letter-spacing: 1px;
} 

nav ul li:after
{
    content: " |"
}

nav ul li:last-child:after
{
    content: " "
}

nav ul li a
{
    text-decoration: none;
    color: #401b01;
    font-family: arial;
} 

nav ul li a:hover
{
    font-weight: 700;
    
}


.container
{
    width: 100%;
    height: 1850px;
    padding: 20px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 50px;
}

.container .loc
{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
} 

.container .loc div
{
    width: 70%;
    height: 230px;
    margin: 15px 0;
    font-family:arial;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 70px;
}

.container .loc img
{
    position: absolute;
    display: inline-block;
    top: 22px;
    right: 40px;
    width: 250px;
    height: 250px;
}

.container .cofcup
{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    line-height: 47px;
} 

.container .cofcup div
{
    width: 70%;
    height: 230px;
    margin: 15px 0;
    font-family:arial;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
    position: absolute;
    right: 10px;
    padding-left: 20px;
    
}

.container .cofcup img
{
    position: absolute;
    display: inline-block;
    top: 22px;
    left: 40px;
    width: 250px;
    height: 250px;
}

.container .cake
{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    line-height: 47px;
} 

.container .cake div
{
    width: 70%;
    height: 230px;
    margin: 15px 0;
    font-family:arial;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
    
}

.container .cake img
{
    position: absolute;
    display: inline-block;
    top: 22px;
    right: 40px;
    width: 250px;
    height: 250px;
}

.container .book
{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
} 

.container .book div
{
    width: 70%;
    height: 230px;
    margin: 15px 0;
    font-family:arial;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 47px;
    position: absolute;
    right: 10px;
    padding-left: 20px
    
}

.container .book img
{
    position: absolute;
    display: inline-block;
    top: 22px;
    left:40px;
    width: 250px;
    height: 250px;
}

.container .service
{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
} 

.container .service div
{
    width: 70%;
    height: 230px;
    margin: 15px 0;
    font-family:arial;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 47px;
    
}

.container .service img
{
    position: absolute;
    display: inline-block;
    top: 22px;
    right: 40px;
    width: 250px;
    height: 250px;
}



footer
{
    position: absolute;
    width: 100%;
    top: 1950px;
}

.footer-main-div
{
    width:100%;
    height: auto;
    margin: auto;
    background-color:beige;
    padding: 20px 0;
}

.footer-social-icons
{
    width:100%;
    height: auto;
    margin: auto
}

.footer-social-icons ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social-icons ul li
{
    display: inline-block;
    margin: 0 10px;
}

.footer-social-icons ul li img
{
    width: 30px;
    height: 30px;
}

.footer-social-icons ul li .twitter
{
    width: 40px;
    height: 40px;
    margin-bottom: -5px;
}

.footer-menu-one
{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.footer-menu-one ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu-one ul li
{
    display: inline-block;
    margin: 0 15px;
}

.footer-menu-one ul li a
{
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color:#401b01 ;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-menu-two
{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

.footer-menu-two ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu-two ul li
{
    display: inline-block;
    margin: 0 15px;
}

.footer-menu-two ul li a
{
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color:#401b01;
    text-decoration: none;
}

.footer-bottom
{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color:#2b1205;
}

.footer-bottom p
{
    text-align: center;
    font-family: arial;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #FFF
}
